@media (max-width: 576px) {
    /* Common CSS */
    .pt-100 {
        padding-top: 50px;
    }
    .pb-70 {
        padding-bottom: 20px;
    }
    .section-title {
        h2 {
            font-size: 30px;
            margin-bottom: 10px;
        }
    }


    /* Navabr CSS */
    .topbar {
        padding: 10px 0;

        .top-contact, .top-social {
            text-align: center;
        }
        .top-contact li {
            margin: 0 2px;
            font-size: 14px;
            
            i {
                font-size: 14px;
            }
        }
        .top-contact {
            margin-bottom: 10px;
        }
    }

    /* Banner css */
    .single-slider {
        .banner-text {
            padding-left: 0;
            text-align: center;

            h1 {
                font-size: 30px;
            }

            h6 {
                font-size: 14px;
            }
        }
    }
    .banner-slider {
        .owl-dots {
            top: inherit;
            left: 0;
            bottom: 10px;
            right: 0;

            .owl-dot {
                display: inline-block;
            }
        }
    }
    .sliderBanner1 {
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    /* Promo Offer */
    .promo-section {
        .promo-area {
            text-align: center;

            img {
                margin-bottom: 10px;
            }

            p {
                font-size: 13px;
            }
        }
    }
    /* Best Sale */
    .sale-box {
        padding: 15px;
    }

    /* Newslater CSS */
    .news-area {
        .subscribe-form {
            text-align: center;

            button {
                position: relative;
                padding: 0 30px;
                margin-top: 10px;
            }
        }
    }

    /* Footer CSS */
    .footer {
        padding: 40px 0 20px;

        ul {
            margin-bottom: 20px;

            li {
                margin-bottom: 8px;
            }
        }
    }
}