/*=========================
- Project: Shopy
- Authore: Rafi kadir
- Date: 09/02/2021
- PSD to HTML convertion
==========================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Color CSS */
$color-red: #ff5912;
$color-p: #495662;
$color-body: #3c4751;
$transition: .5s;

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: $color-body;
    background: #f4f6f8;
}
ul {
    padding: 0;
    margin: 0;list-style-type: none;
}
p {
    color: $color-p;
}
a {
    text-decoration: none;
    transition: $transition;
}
.d-table {
    width: 100%;
    height: 100%;
}
.d-table-cell {
    vertical-align: middle;
}
.pt-100 {
    padding-top: 100px;
}
.pb-70 {
    padding-bottom: 100px;
}
button {
    &:focus {
        outline: 0;
    }
}
.section-title {
    margin-bottom: 80px;
    h2 {
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 600;
        color: $color-body;
        margin-bottom: 30px;

        span {
            color: $color-red;
        }
    }
    p {
        margin-bottom: 0;
    }
}


/* Topbar CSS Start */
.topbar {
    border-bottom: 1px solid #edeff1;
    padding: 24px 0;
    background: #fff; 
}
.top-contact {

    li {
        display: inline-block;
        margin-right: 20px;

        i {
            color: $color-red;
            font-size: 18px;
            padding-right: 5px;
        }
    }
}
.top-social {
    text-align: right;
    li {
        display: inline-block;

        a {
            i {
                color: $color-body; 
                font-size: 20px;
                margin: 0 10px;
                transition: $transition;

                &:hover {
                    color: $color-red;
                }
            }
        }
    } 
}
/* Topbar CSS End */

/* Navbar CSS Start */
.main-menu {
    background: #fff; 
    .navbar {
        padding: 15px 0;

        .navbar-brand {
            margin-right: 40px;
        }

        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $color-body;
                    margin: 0 40px 0 0;
                    padding-right: 0;
                    padding-left: 0;
                    font-size: 17px;

                    &.active {
                        color: $color-red;
                    }

                    &:hover {
                        color: $color-red;
                    }
                }
            }
        }

        .navbar-text {
            position: relative;
            
            li {
                display: inline-block;
                color: $color-body;
                transition: .5s;
                font-size: 20px;

                a {
                    &:hover {
                        color: $color-red;
                    }

                    i {
                        margin: 0 15px;
                    }
                }
            }

            .search-btn {
                input {
                    height: 45px;
                    width: 250px;
                    border: 1px solid #abbecf;
                    border-radius: 5px;
                    padding: 10px;
                    display: none;
                    position: absolute;
                    bottom: -80px;
                    right: 0;

                    &:focus {
                        border: 2px solid #abbecf !important;
                        outline: 0;
                    }
                }

                i {
                    margin: 0 15px;
                }

                .search-btn {
                    border: 0;
                    background: #fff;

                    &:focus {
                        outline: 0;
                    }
                }
            }

            .cart {
                position: relative; 

                h6 {
                    position: absolute;
                    top: -10px;
                    right: 0;
                    background: #34404b;
                    color: #fff;
                    border-radius: 30px;
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    line-height: 20px;
                    font-size: 13px;
                }
            }
        }
    }
}

.is-sticky {
    position: fixed !important;
    box-shadow: 0 2px 9px 0 #e9ecef;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    animation: 0.5s ease-in-out fadeInDown;
}
/* Navbar CSS End */

/* Banner CSS Start */
.sliderBanner1 {
    background-image: url(../img/home-banner.png);
    background-position: center center;
    background-size: cover;
    height: 600px;

    &::before {
        position: absolute;
        content: '';
        background: #34404b;
        opacity: .1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.single-slider {
    position: relative;
    z-index: 1;

    .banner-text {
        padding-left: 100px;

        h1 {
            font-size: 52px;
            color: $color-red;
            text-transform: uppercase;
            margin-bottom: 15px;
            font-weight: 600;
        }
    
        h6 {
            font-size: 20px;
            margin-bottom: 20px;
        }
    
        .bottom-price {
            margin-top: 50px;
    
            h6 {
                display: inline-block;
                margin-right: 20px;
                margin-bottom: 0;
            }
    
            a {
                color: $color-red;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}

.banner-slider {
    position: relative;

    .owl-dots {
        position: absolute;
        margin-top: 0 !important;
        top: 44%;
        left: 16%;

        .owl-dot {
            display: block;

            span {
                width: 10px !important;
                height: 17px !important;
                background: #fff;
                border-radius: 0;
                transition: .5s;

                &:hover {
                    background: $color-red;
                }
            }

            &.active span {
                background: $color-red;
                height: 35px !important;
            }

            &:focus {
                outline: 0;
            }
        }
    }
}
/* Banner CSS End */

/* New Arrival CSS Start */
.arrival-area {
    margin-bottom: 30px;

    &:hover .arrival-product {
        display: none;
    }
    &:hover .arrival-hover {
        display: block;
    }

    .arrival-product {
        text-align: center;
        background: #fff;
        padding: 30px;
        transition: .5s;
    
        img {
            margin-bottom: 30px;
            max-width: 100%;
            width: inherit !important;
            margin: 0 auto 30px;
        }
    
        h4 {
            margin-bottom: 15px;
        }
    
        h6 {
            margin-bottom: 0;
        }
    }

    .arrival-hover {
        text-align: center;
        background: #fff;
        padding: 30px;
        display: none;

        img {
            max-width: 60px !important;
            margin-bottom: 40px;
            width: inherit;
            margin: 0 auto 30px;
        }

        h4 {
            color: $color-red;
            margin-bottom: 11px;
        }

        h6 {
            margin-bottom: 0;
            span {
                margin: 5px;
            }
        }

        ul {
            padding: 30px 0;

            li {
                width: 15px;
                height: 15px;
                border-radius: 50px;
                margin: 0 2px;
                display: inline-block;
            }

            .color-red {
                background: $color-red;
            }

            .color-blk {
                background: $color-body;
            }

            .color-blue {
                background: #3ab3ff;
            }
            .color-green {
                background: #2fd967;
            }
        }

        .buttons {
            padding-top: 30px;
            border-top: 1px solid #f2f0f0;

            button {
                border: 0;
                background: #fff;
                font-size: 22px;
                margin: 0 10px;
                transition: .5s;

                &:hover {
                    color: $color-red;
                }
            }
        }
    }
}
/* New Arrival CSS End */

/* Promo CSS Start */
.promo-section {
    .promo-area {
        background: #fff;
        border: 1px solid #eaedef;
        padding:10px 20px;

        .promo-price {
            color: $color-red;
        }

        p {
            font-size: 14px;
        }
    }
    .adv-area {
        background: #fff;
        border: 1px solid #eaedef;
        padding: 20px;
        height: 100px;

        h6 {
            font-weight: 500;
            margin-bottom: 20px;
            color: $color-red;
        }
    }
}
/* Promo CSS End */

/* Best Sale CSS Start */
.sale-box {
    background: #fff;
    padding: 30px;
    transition: .5s;
    margin-bottom: 30px;
 
    &:hover {
        box-shadow: 0 0 25px 0 #ddd;
        margin-top: -10px;
    }

    &:hover .bottom-txt .sale-btn {
        display: inline-block !important;
    }

    &:hover .bottom-txt span {
        display: none !important;
    }

    img {
        display: inline-block;
    }

    .sale-text {
        display: inline-block;
        margin-top: 10px;
        padding-left: 15px;

        h6 {
            a {
                font-size: 18px;
                font-weight: 600;
                color: $color-body;

                &:hover {
                    color: $color-red;
                }
            }
        }

        .bottom-txt {
            display: inline-block;

            ul {
                display: inline-block;
                li {
                    display: inline-block;
    
                    i {
                        color: $color-red;
                    }
                }
            }

            span {
                color: $color-red;
                display: inline-block;
                font-weight: 500;
                margin-left: 20px;
            }

            .sale-btn {
                color: $color-red;
                margin-left: 8px;
                font-size: 14px;
                font-weight: 500;
                display: none;

                &:hover {
                    color: $color-body;
                }
            }
        }
    }
}
/* Best Sale CSS End */

/* Newslater Sale CSS Start */
.news-area {
    background: #fff;
    padding: 30px 40px;

    h3 {
        text-transform: uppercase;
        font-weight: 600;
        color: $color-red;
        margin-bottom: 20px;
    }

    .subscribe-form {
        position: relative;
        input {
            height: 40px;
            padding: 20px;
            background: #f9f9f9;
            border: 1px solid #ddd;
            width: 100%;

            &:focus {
                outline: 0;
            }
        }

        button {
            position: absolute;
            right: 0;
            top: 0;
            height: 40px;
            padding: 0 50px;
            border: 0;
            background: $color-red;
            color: #fff;
        }
    }
}
/* Newslater Sale CSS End */

/* Footer CSS Start */
.footer {
    background: #fff;
    padding-top: 70px;
    padding-bottom: 70px;

    .footer-logo {
        margin-bottom: 20px;
    }

    p {
        a {
            color: $color-red;
            font-weight: 500;
        }
    }

    ul {
        list-style-type: disc;
        li {
            margin-bottom: 14px;
            line-height: 1;

            a {
                color: $color-body;
                font-weight: 500;

                &:hover {
                    color: $color-red;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
/* Footer CSS End */

/*----- SHOP PAGE START -----*/ 
.sidebar-category, .sidebar-size, .sidebar-brand, .sidebar-price {
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;

    h4 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    ul {
        li {
            font-size: 16px;
            margin-bottom: 10px;
            display: block;

            a {
                color: $color-body;

                &:hover {
                    color: $color-red;
                }
            }   
        }
    }
}
#min-prices {
    margin-right: 10px;
}


.sidebar-price {
    p {
        color: $color-red;
    }

    input {
        width: 100%;
    }
}
/*----- SHOP PAGE END -----*/ 

/*----- PRODUCT PAGE START -----*/ 
.signle-product  {
    background: #fff;
    padding-bottom: 100px;

    .product-img {
        margin-bottom: 30px;
    }
}
.single-product-text {
    max-width: 500px;

    h1 {
        color: $color-red;
        text-transform: uppercase;
    }

    .product-bottom-text {
        h6 {
            margin-bottom: 20px;
            span {
                margin: 5px;
            }
        }
    }

    .buttons {
        .add-cart {
            margin-bottom: 20px;

            button {
                background: red;
                border: 0;
                color: #fff;
                height: 40px;
                width: 40px;
                box-shadow: 0 1px 8px #9c8282d9;
            }

            input {
                width: 100px;
                border: 1px solid #ecc9c9;
                height: 40px;
                padding: 10px;
            }
        }

        .buy-now {
            border: 0;
            background: $color-red;
            padding: 10px 25px;
            color: #fff;
            transition: .5s;
            border: 1px solid transparent;

            &:hover {
                background: #fff;
                color: $color-red;
                border: 1px solid;
            }
        }
    }
}
/*----- PRODUCT PAGE END -----*/ 

/*----- CONTACT PAGE START -----*/
.contact-area {
    max-width: 700px;
    margin: 0 auto;
    box-shadow: 0 7px 10px #ddd;
    padding: 40px;
    border-radius: 10px;
    background: #fff;
} 
/*----- CONTACR PAGE END -----*/ 
